<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101955531233-ohbp54llj48mihffebbntf83gg802nj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101955531233-ohbp54llj48mihffebbntf83gg802nj7</string>
	<key>API_KEY</key>
	<string>AIzaSyBFutGmOLI9FURd0MtgCSASH2l8YtGHHqM</string>
	<key>GCM_SENDER_ID</key>
	<string>101955531233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmogilevsky.PetMeApp</string>
	<key>PROJECT_ID</key>
	<string>petmeapp-1ebde</string>
	<key>STORAGE_BUCKET</key>
	<string>petmeapp-1ebde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101955531233:ios:2fc45603ad05ecdd</string>
	<key>DATABASE_URL</key>
	<string>https://petmeapp-1ebde.firebaseio.com</string>
</dict>
</plist>