body {

    background-color: white;
}

html,
body {
    height: 100%;
}

header,
#name {
    font-family: 'Coiny', cursive;
    font-size: 200%;
    text-align: center;
}

header {
    width: 100%;
    min-height: 15%;
    background-color: blue;
}

#top {
    margin-top: 10px;
}

h2,
#textfont {
    font-family: 'Bree Serif', serif;
    font-size: 200%;
    text-align: center;
    margin: 0p% 3% 0% 3%;
}

#navbar {
    position: sticky;
    top: 0;
    list-style-type: none;
    padding: 10px;
    width: 100%;
    min-height: 15%;
    
}

li {
    float: left;
}

li.one {
    display: block;
    color: blue;
    text-align: center;
    font-size: 200%;
    border-width: thick;
    border-style: double;
    padding: 10px 10px;
    width: 240px;
    margin: 2%;
    background-color: pink;
}

li a:hover {
    background-color: mistyrose;
}

#vidright {
    position: relative;
    left: 20%;
}

img.align-centre {
    display: block;
    margin: auto;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 40%;
    padding: 5px;
    margin-left: 10%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    position: relative;
    left: 20%;
    width: 60%;
    border-collapse: collapse;
}

th,
td {
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-width: medium;
    border-style: solid;

    text-align: left;
}

.money {
    text-align: right;
}

#showing {
    display: grid;
    border-width: medium;
    border-style: solid;
    padding: 0.5e;
    grid-template-columns: max-content max-content max-content max-content;
    
    grid-gap: 5em;
    text-align: center;
}













