body {

    background-color: white;
}

html,
body {
    height: 100%;
}

.full-height {
    height: 100%;
}

header,
#name,
#textfont {
    font-family: 'Coiny', cursive;
    font-size: 200%;
    text-align: center;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 200%;
    text-align: left;
}

#navbar {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
}

.sticky {
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li.one {
    display: block;
    color: blue;
    text-align: center;
    font-size: 200%;
    border-width: thick;
    border-style: double;
    padding: 10px 10px;
    width: 230px;
    margin: 2%;
    background-color: pink;
}

li a:hover {
    background-color: mistyrose;
}

img.align-centre {
    display: block;
    margin: auto;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 40%;
    padding: 5%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
