body {

    background-color: chocolate;
}

img.align-centre {
    display: block;
    margin: auto;
}

header,
#name {
    font-family: 'Coiny', cursive;
    font-size: 200%;
    text-align: center;
}

#textfont {
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 200%;
    text-align: left;
}

#navbar {
    
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    position: sticky;
    top: 0;
    
}

li {
   float: left; 
}

li.one {
    
    display: block;
    color: darkslateblue;
    text-align: center;
    font-size: 200%;
    border-width: thick;
    border-style: double;
    padding: 10px 10px;
    width: 230px;
    margin: 2%;
    background-color: darkgoldenrod;
}

li a:hover {
    background-color: coral; 
}
